@font-face {
    font-family: "Electronica";
    src: url("Electronica.woff") format("woff"),
        url("Electronica.woff2") format("woff2"),
        url("Electronica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GOST";
    src: url("GOST.woff") format("woff"), url("GOST.woff2") format("woff2"),
        url("GOST.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GOST_A";
    src: url("GOST2.304-81typeA.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
